<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <connectionStrings>
    <add name="OmpModel" connectionString="metadata=res://*/OmpModel.csdl|res://*/OmpModel.ssdl|res://*/OmpModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=OMEGA;user id=OMP_ADM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="connection.connection_string">USER ID=omp_adm;PASSWORD=eastsoft;DATA SOURCE=OMEGA;PERSIST SECURITY INFO=True</property>
      <mapping assembly="obj_lib" />
    </session-factory>
  </hibernate-configuration>
</configuration>