<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OmpModel" connectionString="metadata=res://*/OmpModel.csdl|res://*/OmpModel.ssdl|res://*/OmpModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=OMEGA;user id=OMP_ADM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>